body{
	background: #232323;
	font-family: "montserrat";
	font-weight: normal;
	text-transform: uppercase;

}
.square{
	width:30%;
	background:purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 1.0s;
	-webkit-transition:background 1.0s; 
	-moz-transition:background 1.0s; 
}
.container{
	margin:0 auto;
	max-width: 600px;
	margin: 20px auto;
}
h1{
	color: white;
	background: steelblue;
	text-align: center;
	margin: 0;
	line-height: 1.1;
	padding : 20px 0; 
}
#colorDisplay{
	
	font-size: 200%;
}
#messageDisplay{
	display: inline-block;
	width: 20%;
}
#stripe{
	height: 30px;
	background: white;
	color:black;
	text-align: center;
}
.selected{
	background: steelblue;
	color: white;
}
button{
	background: none;
	border: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: inherit;
	transition: all 0.5s;
	-webkit-transition:all 0.5s; 
	-moz-transition:all 0.5s; 
	outline: none;
}
button:hover{
	color:white;
	background: steelblue;

}